<section class="row comment">
  <section class="col-xs-10">

    <%= form_for comment,  html: { method: 'POST' },
                                url: comments_path(user_id: current_user.id),
                                remote: true do |f| %>

      <%= f.text_area :body, class: "form-control comment-box", placeholder: "What do you want to say?" %>

      <%= f.hidden_field :commentable_id, value: id.to_i %>

      <%= f.hidden_field :commentable_type, value: type.capitalize %>

      <%= f.submit "Comment", class: "btn btn-primary" %>

    <% end %>

  </section>
</section>
