<section class="row comment panel panel-default" data-type="comment" data-id="<%= comment.id %>">
  <article class="col-md-12">

    <!-- Comment by Other User-->
    <section class="row">
      <section class="col-xs-2">
        <%= image_tag "user_silhouette_generic.png", width: 75, height: 75 %>
      </section>
      <section class="col-xs-10">
        <%= link_to comment.user.full_name, profile_path(comment.user.profile) %>
        <br>
        <datetime class="date-text"><%= comment.created_at.strftime("at %l:%M%P, %B %e, %Y") %></datetime>
        <br>
        <%= comment.body %>
      </section>
    </section>
    <!-- Like link -->
    <section class="row">
      <section class="col-md-10">

        <%= render partial: "likes/like_area", locals: { likeable: comment } %>

      </section>
      <section class="col-md-2">

        <%= link_to "Delete", comment_path(comment), method: :delete if comment.user == current_user %>

      </section>
    </section>

    <%= link_to "Comment", new_comment_path( comment: { commentable_type: "comment", commentable_id: comment.id } ), remote: true, class: "comment-link" %>

    <div class="comment-form-holder">

    </div>

    <div class="comment-holder">
      <% comment.sorted_comments.each do |subcomment| %>
        <%= render partial: "comments/view", locals: { comment: subcomment } %>
      <% end %>
    </div>

  </article>
</section>
