<!-- Comment by Other User-->
<section class="row comment">
  <section class="col-xs-2">
    <%= image_tag "user_silhouette_generic.png", width: 75, height: 75 %>
  </section>
  <section class="col-xs-10">
    <%= link_to comment.user.full_name, profile_path(comment.user.profile) %>
    <br>
    <%= comment.created_at %>
    <br>
    <%= comment.body %>
  </section>
</section>
<!-- Like link -->
<section class="row">
  <section class="col-xs-1 col-xs-offset-2">
    <%= link_to "Like", "#" %>
  </section>
</section><br>
