<%= render partial: 'layouts/tabs', locals: { user: @user } %>

<!-- The Timeline Section -->
<div class="row"> <!--row containing all timeline content-->
  <section class="col-md-3"> <!--left column-->
      <%= render "about" %>

      <%= render "photos" %>

      <%= render "friends" %>

  </section> <!--end left column-->

  <section class="col-md-9 content-column"> <!--right column-->

    <%= render partial: "posts/form" if @user == current_user %>

    <!--List of Posts-->

    <div class="story-holder">

      <% @user.sorted_posts.each do |post| %>

        <%= render partial: "posts/view", locals: { post: post } %>

      <% end %>

    </div>

  </section> <!--end right column-->
</div> <!--end row containing all timeline content-->
