<%= render partial: 'layouts/tabs', locals: { user: @user } %>

<section class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= image_tag @photo.image.url %>

    <p><%= link_to "All Photos", photos_path(@photo.user) %></p>

    <% if @photo.user == current_user %>
      <p><%= link_to "Set as Profile", "#" %></p>
      <p><%= link_to "Set as Cover", "#" %></p>
      <p><%= link_to "Edit", edit_photo_path(@photo) %></p>
      <p><%= link_to "Delete", photo_path(@photo), method: :delete %></p>
    <% end %>

    <%= render partial: "likes/like_area", locals: { likeable: @photo } %>

    <%= render partial: "comments/form", locals: { commentable: @photo } %>

    <% @photo.sorted_comments.each do |comment| %>
      <%= render partial: "comments/view", locals: { comment: comment } %>
    <% end %>
  </div>
</section>
