<section class="row post">
  <article class="col-md-12">
    <!-- Post Info -->
    <section class="row">
      <section class="col-xs-2">
        <%= image_tag "user_silhouette_generic.png", width: 100, height: 100 %>
      </section>
      <section class="col-xs-10">
        <%= link_to @profile.full_name, profile_path(@user) %>
        <br>
        <datetime class="date-text"><%= post.created_at %></datetime>
      </section>
    </section>

    <!--Post Body-->
    <section class="row">
      <section class="col-xs-12">
        <p><%= post.body %></p>
      </section>
    </section>

    <!-- Like, Comment, Delete links -->
    <section class="row">
      <section class="col-md-1">
        <% if post.liked?(current_user) %>
          <%= link_to "Unlike", post_like_path(post, post.user_like(current_user)), method: :delete %>
        <% else %>
          <%= link_to "Like", post_likes_path(post, likeable_type: "Post", likeable_id: post.id), method: :post %>
        <% end %>
      </section>
      <section class="col-md-1">
        <a href="#">Comment</a>
      </section>
      <section class="col-md-2 col-md-offset-8">
        <%= link_to "Delete", user_post_path(@user,post), method: :delete %>
      </section>
    </section>

    <% post.comments.each do |comment| %>
      <%= render partial: "comments/view", locals: { comment: comment } %>
    <% end %>

    <%= render partial: "comments/form" %>

  </article>
</section>
