<section class="row post panel panel-default">
  <article class="col-md-12">
    <!-- Post Info -->
    <section class="row">
      <section class="col-xs-2">
        <%= image_tag "user_silhouette_generic.png", width: 100, height: 100 %>
      </section>
      <section class="col-xs-10">
        <%= link_to post.user.profile.full_name, profile_path(post.user.profile) %>
        <br>
        <datetime class="date-text"><%= post.created_at %></datetime>
      </section>
    </section>

    <!--Post Body-->
    <section class="row">
      <section class="col-xs-12">
        <p><%= post.body %></p>
      </section>
    </section>

    <!-- Like, Comment, Delete links -->
    <section class="row">
      <section class="col-md-10">

        <%= render partial: "likes/like_area", locals: { likeable: post } %>

      </section>
      <section class="col-md-2">
        <%= link_to "Delete", post_path(post), method: :delete if post.user == current_user %>
      </section>
    </section>

    <%= render partial: "comments/form", locals: { commentable: post } %>

    <% post.sorted_comments.each do |comment| %>
      <%= render partial: "comments/view", locals: { comment: comment } %>
    <% end %>

  </article>
</section>
