<section class="row post panel panel-default" data-type="post" data-id="<%= post.id %>">
  <article class="col-md-12">
    <!-- Post Info -->
    <section class="row">
      <section class="col-xs-2">
        <%= image_tag post.user.photo_thumb, width: 100, height: 100 %>
      </section>
      <section class="col-xs-10">
        <%= link_to post.user.profile.full_name, profile_path(post.user.profile) %>
        <br>
        <datetime class="date-text"><%= post.created_at.strftime("at %l:%M%P, %B %e, %Y") %></datetime>
      </section>
    </section>

    <!--Post Body-->
    <section class="row">
      <section class="col-xs-12">
        <p><%= post.body %></p>
      </section>
    </section>

    <!-- Like, Comment, Delete links -->
    <section class="row">
      <section class="col-md-10">

        <%= render partial: "likes/like_area", locals: { likeable: post } %>

      </section>
      <section class="col-md-2">
        <%= link_to "Delete", post_path(post), method: :delete if post.user == current_user %>
      </section>
    </section>

    <%= link_to "Comment", new_comment_path( comment: { commentable_type: "post", commentable_id: post.id } ), remote: true, class: "comment-link" %>

    <div class="comment-form-holder">

    </div>

    <div class="comment-holder">
      <% post.sorted_comments.each do |comment| %>
        <%= render partial: "comments/view", locals: { comment: comment } %>
      <% end %>
    </div>

  </article>
</section>
