<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <section class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='<%= root_path %>'>Danebook</a>
    </section>

    <!--collapsing login form-->
    <section class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <% if signed_in_user? %>
          <%= link_to "Sign Out", logout_path, method: :delete, class: "btn btn-info" %>
        <% else %>
          <%= form_tag session_path do %>
            <div class="form-group">
              <%= email_field_tag :email, nil, placeholder: "Email", class: "form-control" %>
              <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
              <%= check_box_tag :remember_me %>
              <%= label_tag "remember me?" %>
              <%= submit_tag "Sign In", class: "btn btn-info"%>
            </div>
          <% end %>
        <% end %>
      </form>
    </section><!--/.navbar-collapse -->
  </div><!--end container-->
</nav><!--end navbar-->
