<div class="row">
  <div class="col-xs-12">
    <div class="cover-photo-area text-center">
      <h1 class="cover-photo-name"><%= user.full_name %></h1>
      <%= image_tag "blank_cover_photo.png", class: "cover-photo" %>
      <%= image_tag "blank_profile_photo.png", class: "profile-photo" %>
      <%= friend_button(user) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <ul class="nav nav-tabs tabs">
        <li role="presentation"><%= link_to "Timeline", user_path(user) %></li>
        <li role="presentation"><%= link_to "About", profile_path(user.profile) %></li>
        <li role="presentation"><%= link_to "Photos (#{user.photos.count(:id)})", photos_path(user_id: user.id) %></li>
        <li role="presentation"><%= link_to "Friends (#{user.friends.count(:id)})", users_path(user_id: user.id) %></li>
      </ul>
  </div>
  <div class="col-md-3">
      <%= link_to "Edit Profile", edit_profile_path(current_user.profile) if user == current_user %>
  </div>
</div>
