<!DOCTYPE html>
<html>
  <head>
    <title>Danebook</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <section class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='<%= root_path %>'>Danebook</a>
        </section>

        <!--collapsing login form-->
        <section class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form">
              <%= form_tag session_path do %>
                <div class="form-group">
                  <%= email_field_tag :email, nil, placeholder: "Email", class: "form-control" %>
                  <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
                  <%= check_box_tag :remember_me %>
                  <%= label_tag "remember me?" %>
                  <%= submit_tag "Log In", class: "btn btn-primary"%>
                </div>
              <% end %>
            </div>
          </form>
        </section><!--/.navbar-collapse -->
      </div><!--end container-->
    </nav><!--end navbar-->

    <main class="container">
      <section class='row'>
        <section class='col-md-12'>
          <% flash.each do |name,message| %>
            <div class="flash flash-<%= name.to_s %>">
              <%= "#{name.to_s.upcase}: #{message}" %>
            </div>
          <% end %>
        </section>
      </section>

      <%= yield %>

    </main>
  </body>
</html>
