<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/navbar' %>

    <main class="container">

      <%= render 'layouts/tabs' if current_user %>

      <%= render 'layouts/flash' %>

      <%= yield %>

    </main>
  </body>
</html>
